
$mainColor: #1db8c1 ;
$mainColorAlpha: #52d0d6 ;
$secondColor:#fdbe19;
$secondColorAlpha:#fccf5f;
$thirdColor: #F44336;
$thirdColorAlpha: rgba(244, 67, 54, 0.747);


$colorRed: #F44336 ;
$colorPink: #E91E63 ;
$colorPurple: #9C27B0 ;
$colorBlue: #2196F3 ;
$colorLightGreen: #8BC34A ;
$colorLime: #CDDC39 ;
$colorLime-1: #F0F4C3 ;
$colorYellow: #FFEB3B ;
$colorAmber: #FFC107 ;
$colorOrange: #FF9800 ;


$colorLightGrey: #FAFAFA ;
$colorGrey: #E0E0E0 ;
$colorGrey1: #eeeded ;
$colorGrey2: #9E9E9E ;
$colorGrey3: #616161 ;
$colorGrey4: #424242 ;


/* Brown */
$colorBrown-0: #EFEBE9 ;
$colorBrown-1: #795548 ;
$colorBrown-2: #5D4037 ;
$colorBrown-3: #BF360C ;



$ColorWhite: #fff;
$ColorBlack: #000;
$ColorDark: #212121;


/* */


/* Fonts  */
$mainFont:  'Poppins';
$secondFont: 'Open Sans';
$thirdFont: 'Raleway';

